/* estilos nav */
nav {
    display: flex;
    flex-direction: column;
    background-color: #181A31;
    border: 1.5mm solid rgb(0, 130, 255);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

body {
    background-color: rgb(13, 16, 35);
    font-family: 'Montserrat', "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: white;
    padding: 5px;
}

h1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 44px;
    margin: 1px;
    margin-bottom: 14px;
}

h2 {
    color: #6f54e2;
}

a {
    align-self: flex-end;
    text-decoration: none;
    color: white;
}

#id_sinopsis {
    font-weight: bold;
}

/* estilos botones */
.barra_navegacion {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 5px;
    color:white;
    background-color: #6f54e2;
    border-style: hidden;
    cursor: pointer;
    text-decoration: none;
}

.boton-menu {
    display: flex;
    align-items: center;
    padding: 5px;
    width: auto;
    height: auto;
}

#span_perfil {
    display: flex;
    justify-content: center;
    margin: 2.5px;
}

#botones_barra_der {
    display: flex;
}

#botones_logueado {
    display: flex;
    margin-left: 7px;
    border-left: 1.5mm solid rgb(0, 130, 255);
}

.boton-barra-logueado {
    width: 80px;
    height: 35px;
    margin-left: 7px;
}

#botones_barra_izq {
    display: flex;
}

.boton-barra {
    width: 80px;
    height: 35px;
    margin-right: 7px;
}

#boton_eliminar{
    display: flex;
    justify-content: center;
}

#button_eliminar{
    width: 115px;
    height: 50px;
    font-size: 20px;
    background-color: #c00000;
}

#boton_opc_eliminar {
    border-radius: 5px;
    color: white;
    background-color: #c00000;
    border-style: hidden;
    cursor: pointer;
    padding: 5px;
}

#eliminar{
    padding: 5px;
}

#h1_eliminar{
    margin: 30px;
    font-size: 34px; 
 }

#editar {
    padding: 5px;
}

#h1_editar {
    display: flex;
    flex-direction: row;
    margin: 24px;
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 34px;
}

#boton_opc_editar {
    border-radius: 5px;
    color:white;
    background-color: #6f54e2;
    border-style: hidden;
    cursor: pointer;
    padding: 5px;
}

#boton-pelisDire {
    border-radius: 5px;
    color:white;
    background-color: #6f54e2;
    border-style: hidden;
    cursor: pointer;
    padding: 5px;
}

.boton-barra-buscar {
    width: 80px;
    height: 35px;
    margin-left: 7px;
}

#botones_buscar {
    display: flex;
    justify-content: flex-end;
}

#buscadores {
    display: flex;
    margin: 8px;
}

#input_buscadores {
    margin-left: 5px;
    margin-right: 5px;
}

/* estilos peliculas */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#contenedor-central {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article {
    display: flex;
    align-self: center;
    width: 950px;
    min-width: 300px;
    background-color: #181A31;
    border: 1.5mm solid rgb(0, 130, 255);
    border-radius: 5px;
    padding: 20px;
    margin: 8px;
    
}

#info {
    padding-left: 20px;
}

/* estilos footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}