#div_perfil {
    display: flex;
    justify-content: center;
}

#ingresar {
    display: flex;
    align-items: baseline;
    margin: 20px;
}

#input_ingresar {
    margin-left: 5px;
    margin-right: 5px;
}

#iniciar_sesion {
    padding: 6px;
    margin-left: 3px;
}

#crear {
    display: flex;
    align-items: baseline;
    margin: 20px;
}

#crear_usuario {
    padding: 6px;
    margin-left: 3px;
}