{% extends './index.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos_agregarPeli.css' )}}">
<div id="contenedor-central">
    <main>
        <form method="POST" action="/confirmar_agregar">
            <div id="id_agregar">
                <h2 id="agregar"> Agregar Película </h2>
                <div id="agregar">
                    <label for="titulo"> Título de la película: </label>
                    <input type="text" name="titulo" required autofocus>
                </div>
                <div id="agregar">
                    <label for="imagen"> Imágen: </label>
                    <input type="url" name="imagen">
                </div>
                <div id="agregar">
                    <label for="anio"> Año: </label>
                    <input type="text" name="anio" required>
                </div>
                <div id="agregar">
                    <label for="opinion"> Tu opinión: </label>
                    <input type="text" name="opinion">
                </div>
                <div id="agregar">
                    <label for="sinopsis"> Sinopsis: </label>
                    <input type="text" name="sinopsis" required>
                </div>
                <div id="agregar">
                    <label for="director"> Directores: </label>
                    <input type="text" name="director">
                </div>
                <div id="agregar">
                    <label for="genero"> Géneros: </label>
                    <input type="text" name="genero" required>
                </div>
                <div id="agregar">
                    <label for="actores"> Actores: </label>
                    <input type="text" name="actores">
                </div>
                <div id="agregar">
                    <label for="puntuacion"> Puntuación: </label>
                    <input type="number" name="puntuacion" required max="10" min="0">
                </div>
                <div id="agregar">
                    <input type="submit" id="boton_enviar">
                </div>
            </div>    
        </form>
        <footer>
            &copy Películas SBE
        </footer>
    </main>
</div>
{% endblock %}