{% extends './index.html' %}

{% block content %}
<div id="contenedor-central">
    <main>
        <form method="POST" action="/confirmar_agregar">
            <div>
                <label for="titulo">Titulo de la pelicula:</label>
                <input type="text" name="titulo" required autofocus>
            </div>
            <div>
                <label for="imagen">Imagen:</label>
                <input type="url" name="imagen" required placeholder="Link de imágen">
            </div>
            <div>
                <label for="anio">Anio:</label>
                <input type="text" name="anio" required>
            </div>
            <div>
                <label for="opinion">Tu opinion</label>
                <input type="text" name="opinion">
            </div>
            <div>
                <label for="sinopsis">Sinopsis</label>
                <input type="text" name="sinopsis" required>
            </div>
            <div>
                <label for="director">Directores disponibles</label>
                <select name="director" required>
                    <option value="">Director</option>
                    {% for director in directores %}
                        <option value="{{director}}">{{director}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="genero">Generos disponibles</label>
                <select name="genero" required>
                    <option value="">Género</option>
                    {% for genero in generos %}
                        <option value="{{genero}}">{{genero}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="actores">Actores</label>
                <input type="text" name="actores">
            </div>
            <input type="submit">
        </form>
        <footer>
            &copy Películas SBE
        </footer>
    </main>
</div>
{% endblock %}