{% extends "index.html" %}

{% block content%}
<div id="contenedor-central">
    <main>
        <!-- para las peliculas -->
        {% for datos in peliculas %}
        <article>
            <div id="img">
                <img src="{{ datos['img'] }}" alt="imagen" width="200px" height="300px">
            </div>
            <div id="info">
                <h2> {{ datos ['Titulo'] }} </h2>
                <h3> Director: {{ datos ['Director'] }} </h3>
                <h3> Año: {{datos ['año']  }} </h3>
                <h3> Género: {{datos ['Genero'] }} </h3>
                <p> Sinopsis: {{datos ['Sinopsis']}} </p> 
            </div>      
        </article>
        {% endfor %}
    </main>
    <footer>
        &copy Películas SBE
    </footer>
</div>
{% endblock %}