{% extends "index.html" %}

{% block content%}
<div id="contenedor-central">
    <main>
        <!-- para las peliculas -->
            <form action="/confirmar" method="post" id="buscadores">
                <label for="directores"> Buscar directores: </label>
                <input type="text" name="directores" id="input_buscadores">
                <button type="submit" id="buscar_director">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </form>
            {% if director1 != "" %}
            {% for datos in peliculas %}
                {% if datos['Director'] in director1 %}
                    <article>
                        <div id="img">
                            <img src=" {{ datos ['img'] }} " alt="imagen" width="200px" height="300px">
                        </div>
                        <div id="info">
                            <h2 id="titulo_peli"> {{ datos ['Titulo'] }} </h2>
                            <h3> Director: {{ datos ['Director'] }} </h3>
                            <h3> Año: {{datos ['año']  }} </h3>
                            <h3> Género: {{datos ['Genero'] }} </h3>
                            <p id="id_sinopsis" > Sinopsis: </p> <p> {{ datos ['Sinopsis'] }} </p>
                            <h4> Actores: {{ datos ['Actores'] }} </h4>
                            <h4> Puntuación: {{ datos ['Puntuacion'] }} </h4>  
                            <h4> Comentarios: {{ datos['Comentarios'] }} </h4>
                        </div>
                    </article>
                {% endif %} 
            {% endfor %}
            {% endif %}
    </main>
    <footer>
        &copy Películas SBE
    </footer>
</div>
{% endblock %}