{% extends "index.html" %}

{% block content%}

<div>
    <h1 id="h1_editar">{{peli}}</h1>
    <form action="/editar/{{peli}}", method="post" id="boton_editar">
        <h2 id="agregar"> Agregar Película </h2>
            <div id="agregar">
                <label for="titulo"> Título de la película: </label>
                <input type="text" name="titulo" autofocus>
            </div>
            <div id="agregar">
                <label for="imagen"> Imágen: </label>
                <input type="url" name="imagen">
            </div>
            <div id="agregar">
                <label for="anio"> Año: </label>
                <input type="text" name="anio">
            </div>
            <div id="agregar">
                <label for="sinopsis"> Sinopsis: </label>
                <input type="text" name="sinopsis">
            </div>
        <button type="submit" id="button_editar">Editar</button>
    </form>  
</div>

{% endblock %}