{% extends "index.html" %}

{% block content%}
<div id="contenedor-central">
    <main>
        <!-- para las peliculas -->
        {% for datos in peliculas[peliculas|length-10:]|reverse %}
            {% if datos['img'] != "" %}
                <article>
                    <div id="img">
                        <img src=" {{ datos ['img'] }} " alt="imagen" width="200px" height="300px">
                    </div>
                    <div id="info">
                        <h2 id="titulo_peli"> {{ datos ['Titulo'] }} </h2>
                        <h3> Director: {{ datos ['Director'] }} </h3>
                        <h3> Año: {{datos ['año']  }} </h3>
                        <h3> Género: {{datos ['Genero'] }} </h3>
                        <p id="id_sinopsis" > Sinopsis: </p> <p> {{ datos ['Sinopsis'] }} </p>
                        <h4> Actores: {{ datos ['Actores'] }} </h4>
                        <h4> Puntuación: {{ datos ['Puntuacion'] }} </h4>  
                        <h4> Comentarios:{{ datos['Comentarios'] }} </h4>
                    </div>
                </article>
            {% endif %} 
        {% endfor %}
        <div id="botones_pag">
            {% if current_page > 1 %}
                <span class="material-symbols-outlined" id="span_ant">
                    keyboard_double_arrow_left
                </span>
                <a href="?page={{ current_page - 1 }}" class="boton_paginado">Anterior</a>
            {% endif %}

            {% if current_page < total_pages %}
                <a href="?page={{ current_page + 1 }}" class="boton_paginado">Siguiente</a>
                <span class="material-symbols-outlined" id="span_sig">
                    keyboard_double_arrow_right
                </span>
            {% endif %}
        </div>
    </main>
    <footer>
        &copy Películas SBE
    </footer>
</div>
{% endblock %}