<!DOCTYPE html>
<html >
    <head>
        <title> Pelis SBE </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos_index.css' )}}">
    </head>
<!-- titulo año director genero sinopsis y link a una imagen representativa eso es lo que se pide-->
    <body>
        <div id="contenedor">
            <header>
                <nav>   
                    <a title="Perfil" href="{{url_for('ingresar')}}">  
                        <button class="boton-menu" > 
                            <span class="material-symbols-outlined" id="span_perfil">
                                account_circle
                            </span>
                        <p id="nombre_usuario"> {{ name }} </p>
                        </button> 
                    </a>
                    
                    <div id="id_logo">
                        <img alt="logo pelis SBE" src="{{ url_for('static', filename='img/logo.png' )}}" id="logo">
                        <!-- <h1> Pelis SBE </h1> -->
                    </div>
                
                    <div class="barra_navegacion">
                        <div id="botones_barra_izq">
                            <button class="boton-barra-inicio">
                                <a title="Inicio" href="{{url_for('home')}}"> 
                                    <span class="material-symbols-outlined" id="span_inicio">
                                        home
                                    </span>
                                </a>
                            </button>
                            <button class="boton-barra">
                                <a href="{{url_for('directores')}}"> Directores </a>
                            </button>
                            <button class=boton-barra>
                                <a href="{{url_for('generos')}}"> Géneros </a>
                            </button>
                            <button class="boton-barra">
                                <a href="{{url_for('imagenes')}}"> Imágenes </a>
                            </button>
                        </div>

                        <div id="botones_barra_der">
                            <div id="botones_buscar" >
                                <button class="boton-barra-buscar">
                                    <a href="{{url_for('buscar_directores')}}"> Buscar directores </a>
                                </button>
                                <button class="boton-barra-buscar">
                                    <a href="{{url_for('buscar_peliculas')}}"> Buscar películas </a>
                                </button>
                                <button class="boton-barra-buscar">
                                    <a href="{{url_for('buscar_actores')}}"> Buscar actores </a>
                                </button>
                                {% if name == '' %}
                                <button class="boton-barra-crear">
                                    <a href="{{url_for('crear_usuario')}}"> Crear Usuario </a>
                                </button>
                                {% endif %}
                            </div>
                        
                            {% if name != '' %}
                            <div id="botones_logueado">
                                <button class="boton-barra-logueado">
                                    <a href="{{url_for('agregar')}}"> Agregar Película </a>
                                </button>
                                <button class="boton-barra-logueado">
                                    <a href="{{url_for('logout')}}"> Cerrar Sesion </a>
                                </button>
                                <button class="boton-barra-logueado">
                                    <a href="{{url_for('eliminar_usuario')}}"> Eliminar usuario </a>
                                </button>
                                <button class="boton-barra-logueado">
                                    <a href="{{url_for('modificar_usuario')}}"> Modificar usuario</a>
                                </button>
                            </div>
                            {% endif %}
                        </div> 
                    </div>
                </nav>
            </header>

            {% block content %}

            <div id="contenedor-central">
                <main>
                    <!-- para las peliculas -->
                    {% for datos in peliculas %}
                    <article>
                        <div id="img">
                            <img src=" {{ datos ['img'] }} " alt="imagen" width="200px" height="300px">
                        </div>
                        <div id="info">
                            <h2 id="titulo_peli"> {{ datos ['Titulo'] }} </h2>
                            <h3> Director: {{ datos ['Director'] }} </h3>
                            <h3> Año: {{ datos ['año'] }} </h3>
                            <h3> Género: {{ datos ['Genero'] }} </h3>
                            <p id="id_sinopsis" > Sinopsis: </p> <p> {{ datos ['Sinopsis'] }} </p>
                            <h4> Actores: {{ datos ['Actores'] }} </h4> 
                            <h4> Puntuación: {{ datos ['Puntuacion'] }} </h4>
                            <h4> Comentarios: {{ datos ['Comentarios'] }}</h4> 
                        </div>
                        {% if name != '' %}
                        <div id="editar">
                            <form action="/editar/{{ datos ['Titulo'] }}">
                                <input type="submit" value="Editar" id="boton_opc_editar">
                            </form>

                            <form action="/puntuar/{{ datos['Titulo']}}">
                                <input type="submit" name="Puntuar" value="Puntuar" id="boton_opc_puntuar">
                            </form>
                            {% if datos['Comentarios'] == '' %}
                            <form action="/eliminar/{{ datos ['Titulo'] }}">
                                <input type="submit" value="Eliminar" id="boton_opc_eliminar">
                            </form>
                        </div>

                        {% endif %}
                        {% endif %}    
                    </article>
                    {% endfor %}
                    {% if current_page > 1 %}
                        <a href="?page={{ current_page - 1 }}">Anterior</a>
                    {% endif %}

                    {% if current_page < total_pages %}
                        <a href="?page={{ current_page + 1 }}">Siguiente</a>
                    {% endif %}
                </main>
                <footer>
                    <p> Cantidad de visitas en la página: {{ visitas }} </p>
                    &copy Películas SBE
                </footer>
            </div>

            {% endblock %}

        </div>
    </body>
</html>