<!DOCTYPE html>
<html >
    <head>
        <title> Pelis SBE </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos_index.css' )}}">
    </head>
<!-- titulo año director genero sinopsis y link a una imagen representativa eso es lo que se pide-->
    <body>
        <div id="contenedor">
            <header>
                <nav>   
                    <a title="perfil" href="{{url_for('ingresar')}}">  
                        <button class="boton-menu" > 
                            <span class="material-symbols-outlined" id="span_perfil">
                                account_circle
                            </span>
                        <p> {{ name }} </p>
                        </button> 
                    </a>
                    <h1> Pelis SBE </h1>
                    <div class="barra_navegacion">
                        <div id="botones_barra_izq">
                            <button class="boton-barra">
                                <a href="{{url_for('home')}}"> Inicio </a>
                            </button>
                            <button class="boton-barra">
                                <a href="{{url_for('directores')}}"> Directores </a>
                            </button>
                            <button class=boton-barra>
                                <a href="{{url_for('generos')}}"> Géneros </a>
                            </button>
                            <button class="boton-barra">
                                <a href="{{url_for('imagenes')}}"> Imágenes </a>
                            </button>
                        </div>

                        <div id="botones_barra_der">
                            <div id="botones_buscar" >
                                <button class="boton-barra-buscar">
                                    <a href="{{url_for('buscar_directores')}}"> Buscar directores </a>
                                </button>
                                <button class="boton-barra-buscar">
                                    <a href="{{url_for('buscar_peliculas')}}"> Buscar películas </a>
                                </button>
                                <button class="boton-barra-buscar">
                                    <a href="{{url_for('buscar_actores')}}"> Buscar actores </a>
                                </button>
                            </div>
                        
                            {% if name != '' %}
                            <div id="botones_logueado">
                                <button class="boton-barra-logueado">
                                    <a href="{{url_for('agregar')}}"> Agregar Película </a>
                                </button>
                                <button class="boton-barra-logueado">
                                    <a href="{{url_for('logout')}}"> Cerrar Sesion </a>
                                </button>
                            </div>
                            {% endif %}
                        </div> 
                    </div>
                </nav>
            </header>

            {% block content %}

            <div id="contenedor-central">
                <main>
                    <!-- para las peliculas -->
                    {% for datos in peliculas[peliculas|length-10:]|reverse %}
                    <article>
                        <div id="img">
                            <img src=" {{ datos ['img'] }} " alt="imagen" width="200px" height="300px">
                        </div>
                        <div id="info">
                            <h2> {{ datos ['Titulo'] }} </h2>
                            <h3> Director: {{ datos ['Director'] }} </h3>
                            <h3> Año: {{ datos ['año'] }} </h3>
                            <h3> Género: {{ datos ['Genero'] }} </h3>
                            <p id="id_sinopsis" > Sinopsis: </p> <p> {{ datos ['Sinopsis'] }} </p>
                            <h4> Actores: {{ datos ['Actores'] }} </h4> 
                            <h4> Puntuación: {{ datos ['Puntuacion'] }} </h4>
                            <h4>Comentarios: {{ datos ['Comentarios'] }}</h4> 
                        </div>
                        {% if name != '' %}
                        <div id="editar">
                            <div>
                                <form action="/editar/{{ datos ['Titulo'] }}">
                                    <input type="submit" value="Editar">
                                </form>
                              </div>
                        </div>
                        {% if datos['Comentarios'] == '' %}
                        <div id="eliminar">
                            <div>
                                <form action="/eliminar/{{ datos ['Titulo'] }}">
                                    <input type="submit" value="Eliminar">
                                </form>
                              </div>
                        </div>
                        {% endif %}
                        {% endif %}    
                    </article>
                    {% endfor %}
                </main>
                <footer>
                    <p> Cantidad de visitas en la página: {{ visitas }} </p>
                    &copy Películas SBE
                </footer>
            </div>

            {% endblock %}

        </div>
    </body>
</html>