<!DOCTYPE html>
<html >
    <head>
        <title>Pelis truchas</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos_index.css' )}}">
    </head>
<!-- titulo año director genero sinopsis y link a una imagen representativa eso es lo que se pide-->
    <body>
        <div id="contenedor">
            <header>
                <nav>   
                    <a title="perfil" href="{{url_for('ingresar')}}">  
                        <button class="boton-menu" > 
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>
                        {% block nombre %}
                        <p> {{ name }} </p>
                        {% endblock %}
                        </button> 
                    </a>
                    <h1> Pelis truchas </h1>
                    <div class="barra_navegacion">
                        <button class="boton-barra">
                            <a href="{{url_for('directores')}}">Directores</a>
                        </button>
                        <button>
                            <a href="{{url_for('generos')}}">Generos</a>
                        </button>
                        {% block barra %}
                        {% endblock %}
                    </div>
                </nav>
            </header>

            {% block content %}

            <div id="contenedor-central">
                <main>
                    <!-- para las peliculas -->
                    {% for datos in peliculas %}
                    <article>
                            <a> imagen:{{ datos['img'] }}</a>
                            <h2> titulo: {{ datos ['Titulo'] }} </h2>
                            <h3> director: {{ datos ['Director'] }} </h3>
                            <h3>  Anio: {{datos ['año']  }} </h3>
                            <h3> genero: {{datos ['Genero'] }} </h3>
                            <p> sinopsis: {{datos ['Sinopsis']}} </p> 
                    </article>
                    {% endfor %}
                </main>

                <footer>
                    &copy peliculas truchas
                </footer>
            </div>

            {% endblock %}

        </div>
    </body>
</html>