{% extends "index.html" %}

{% block content%}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos_perfil.css' )}}">
<div id="div_perfil">
    <form action="/login" method="post" id="ingresar"> 
        <label for="username"> Usuario: </label>
        <input type="text"  name="username" required autofocus id="input_ingresar">
        <label for="password"> Contraseña: </label>
        <input type="password"  name="password" required id="input_ingresar">
        <button type="submit" id="iniciar_sesion"> Iniciar Sesión </button>
    </form> 
</div>

{% endblock %}