<!DOCTYPE html>
<html >
    <head>
    </head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos_perfil.css' )}}">
    <body>
        <div id="contenedor">
            <header>  inicio de sesion </header>

            <main>
                <form action="" method="post"> 
                    <legend> usuario </legend>
                    <input type="text">
                    <legend> contraseña </legend>
                    <input type="password">
                    <button> enviar </button>
                </form> 
            </main>

            <footer>
            </footer>

        </div>
    </body>
</html>