{% extends "index.html" %}

{% block content%}
{% for datos in peliculas %}
    {% if datos['Director'] == director %}
        <article>
            <div id="img">
                <img src=" {{ datos ['img'] }} " alt="imagen" width="200px" height="300px">
            </div>
            <div id="info">
                <h2 id="titulo_peli"> {{ datos ['Titulo'] }} </h2>
                <h3> Director: {{ datos ['Director'] }} </h3>
                <h3> Año: {{ datos ['año'] }} </h3>
                <h3> Género: {{ datos ['Genero'] }} </h3>
                <p id="id_sinopsis" > Sinopsis: </p> <p> {{ datos ['Sinopsis'] }} </p>
                <h4> Actores: {{ datos ['Actores'] }} </h4> 
                <h4> Puntuación: {{ datos ['Puntuacion'] }} </h4>
                <h4> Comentarios: {{ datos ['Comentarios'] }}</h4> 
            </div>
        </article>
    {% endif %} 
{% endfor %}
{% endblock %}
    